* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem 3rem;
    gap: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* flex: 1; */
    width: 65vw;
    height: 80vh;
    border: 1px solid black;
}

.title {
    font-size: 3rem;
}

#dimensions {
    padding: 0.25rem 2rem;
    font-weight: bold;
}