* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}